*{
    margin: 0;
    padding: 0;
    
}

.tex-micome{
    border: 3px solid red;
    text-align: center;
    color: blueviolet;

}
.menu-lat{

}
.tex-categ{
    color: blueviolet;

}
.bar-produc{

}

